<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Scraper</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
</head>

<body>

  <nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo">Mongo Scraper</a>
      <ul class="hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>
  </nav>

  {{{ body }}}

  <footer class="page-footer teal lighten-2">
    <div class="container" id="footer-space">
    </div>
    <div class="footer-copyright teal">
      <span id="footer-content">NPR News Mongo Scraper</span>
    </div>
  </footer>

</body>

</html>