<main>

  <div class="main-section">
    <h1 class="blue-grey-text text-darken-4">Mongo Scraper</h1>
    <h4 class="blue-grey-text text-darken-4">NPR News Edition</h4>
    <br>
    <a id="scrape-btn" class="red waves-effect waves-light btn">Scrape New Articles</a>
    <a id="clear-btn" class="red waves-effect waves-light btn">Clear Articles</a>
  </div>

  <div id="no-articles" class="row">
    <div class="col s12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title">Uh Oh. Looks like we don't have any new articles.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="articles">
    
  </div>

  <div id="modal-saved" class="modal">
    <div class="modal-content">
      <h2 class="green-text">Article is saved!
      </h2>
    </div>
  </div>

  <div id="modal-already-saved" class="modal">
    <div class="modal-content">
      <h2 class="red-text">Article is already saved!
      </h2>
    </div>
  </div>

</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="../js/index.js"></script>