.main-section  {
    height: 400px;
    text-align: center;
    padding: 50px;
    position: relative;
  }
  
.main-section ::after {
    content: "";
    background: url("../images/readingpaper.jpg");
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .brand-logo {
    margin-left: 20px;
  }

  .hide-on-med-and-down {
    margin-left: 300px;
  }

  /* sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  /* sticky footer */

  footer {
    margin-top: 50px;
  }

  #footer-content {
    margin-left: 15px;
  } 

  #footer-space {
    height: 50px;
  }

  .note-card {
    position: relative;
  }
  
  .remove-note-button {
    position: absolute; 
    top: 5px; 
    right: 5px;
  }

  #no-articles, #no-saved-articles {
    text-align: center;
    margin-bottom: 0;
  }

  .article {
    margin-bottom: 0;
  }

  .delete-saved-btn {
    margin-right: 10px;
  }

  .modal {
      width: 35%;
  }